body {
  margin: 0;
  background-color: rgb(240, 158, 149);
  background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm283-nunny-208-g.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=bd9ec4f0735677363428dd7ff43d6d40);
  background-size: cover;
  color: bisque;
  font-family: sans-serif;
}

header {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

h1 {
  font-family: sans-serif;
  color: bisque;
}

header img {
  height: 200px;
  max-width: 100%;
  border-radius: 50%;
  opacity: 100%;
  display: flex;
  align-items: flex-end;
}

button {
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: rgb(226, 165, 165);
  border: 3px solid black;
}

fieldset {
  background-color: #ca6e64;
  max-width: 500px;
  padding: 16px;
}

.bisque {
  background-color: bisque;
  color: black;
  font-family: sans-serif;
}

form {
  width: 300px;
}
